@import "variables";

.app {
  background-color: white;
  /* banner */
  #banner {
    background: #{$violet};
    overflow: hidden;
    height: 330px;
    .banner {
      width: 80%;
      margin: 0 auto;
      h1 {
        font-size: 55px;
        font-weight: 500;
        width: 960px;
        margin: 100px auto 0px;
      }
      p {
        color: #d6bbec;
      }
    }
  }
  /* product */
  .product {
    width: 80%;
    margin: 100px auto;
    .product__header {
      display: inline-block;
      background-color: #{$bgText};
      color: #{$text};
      font-size: 18px;
      font-weight: 500;
      padding: 10px;
      border-radius: 10px;
      height: 45px;
      margin-bottom: 30px;
      margin-left: 15px;
    }
    .accordion-item {
      .accordion-header {
        button {
          background-color: transparent !important;
          border: none;
        }
        .accordion-button {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          &:focus {
            border: none !important;
          }
          &:not(.collapsed) {
            color: black !important;
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          color: gray;
          font-size: 16px;
          a {
            color: #{$text};
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  #banner {
    height: auto !important;
    .banner {
      h1 {
        font-size: 40px !important;
        margin-top: 80px !important;
        text-align: center;
      }
      p {
        margin-bottom: 40px !important;
      }
    }
  }
  .app .product {
    width: 90%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  #banner {
    height: auto !important;
    .banner {
      h1 {
        font-size: 40px !important;
        margin-top: 80px !important;
        text-align: center;
      }
      p {
        margin-bottom: 40px !important;
      }
    }
  }
  .app .product {
    width: 90%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #banner {
    height: auto !important;
    .banner {
      h1 {
        font-size: 45px !important;
        margin-top: 80px !important;
        text-align: center;
      }
      p {
        margin-bottom: 40px !important;
      }
    }
  }
  .app .product {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    h1 {
      font-size: 55px !important;
      margin-top: 80px !important;
      text-align: center;
    }
  }
  .app .product {
    width: 90%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
}
@media only screen and (min-width: 1401px) and (max-width: 1899px) {
}
