@import "variables";
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  background-color: #{$bgText};
}

/* Heading styling */
h1 {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

.note {
  width: 400px;
  background-color: white;
  position: absolute;
  left: 10px;
  border-radius: 20px;
  ul {
    li {
      margin-top: 10px;
      font-size: 13px;
      span {
        color: black;
        color: #{$text};
        font-size: 14px;
      }
    }
  }
}

/* Form styling */
form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Input and select styling */
input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group {
  margin: 30px auto;
}

p {
  margin: 10px 0 35px;
}

/* Button styling */
button {
  width: 100%;
  padding: 12px;
  background-color: #{$violet};
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #{$text};
}

/* Additional styling for placeholder */
input::placeholder {
  color: #888;
  font-size: 12px;
}
