@import "variables";
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app.step2 {
  background-color: white;
  //   height: 100vh;
  position: relative;
  margin-top: 100px;
  //   margin-bottom: 100px !important;
  .range {
    width: 670px;
    margin: auto;
    p {
      font-size: 13px;
      padding: 10px;
      background-color: #ffbde7;
      border-radius: 10px;
    }
  }
  form {
    .address {
      width: 670px;
      margin-top: 50px;
      div {
        input {
          padding-left: 20px;
          padding-top: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

.address__city,
.address__location--province,
.address__location--district,
.address__location--village,
.address__road,
.address__home,
.address__time {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  line-height: 1;
  border: 0.5px solid #b3b8c3;
  label {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: calc(20% - 3px);
    left: 10px;
    transform: scale(0.75);
    font-size: 16px;
    padding-right: 10px;
    color: #8ea0b8;
  }
}

// .address__city label,
// .address__location--province label,
// .address__location--district label,
// .address__location--village label,
// .address__road label,
// .address__home label,
// .address__time

.address__city .cityInput,
.address__location--province .provinceInput,
.address__location--district .districtInput,
.address__location--village .villageInput,
.address__road .roadInput,
.address__home .homeInput,
.address__time .timeInput {
  position: relative;
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  text-overflow: ellipsis;
  height: 60px;
  border: 0.5px solid #a0a4ad;
}

.address__location div {
  width: 30%;
}

.address__homeTime div {
  width: 40%;
}

/* button */
.button {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  a {
    text-decoration: none;
    button {
      border: none;
      background-color: #b582d9;
      padding: 20px 30px 20px 30px;
      border-radius: 40px;
      //   margin-left: 30px;
      &:hover {
        background-color: #d1a9ed;
      }
      &:nth-child(2) {
        background-color: #{$text};
        padding-left: 60px;
        padding-right: 60px;
        &:hover {
          background-color: indigo;
        }
      }
    }
    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}
