@import "variables";
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

form {
  padding: 20px;
}

.app.step6 {
  background-color: white;
  position: relative;
  margin-top: 100px;
}

.range {
  width: 670px;
  margin: auto;
}
.ccAuthen {
  width: 95%;
  margin: auto;
}

.range p {
  font-size: 13px;
  padding: 10px;
  background-color: #ffbde7;
  border-radius: 10px;
}

.ccAuthen {
  margin-bottom: 30px !important;
}

.ccAuthen__header h4 {
  font-size: 18px;
}

.ccAuthen__header--note p {
  font-size: 16px;
  padding: 15px;
  background-color: #e1caea;
  border-radius: 10px;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
}

.ccAuthen__form {
  label {
    font-weight: 700;
    text-align: start !important;
    margin-top: 30px;
  }
}

#drop-zone,
#drop-zone2,
#drop-zone3 {
  height: 80px;
  width: 650px;
  margin: auto;
  border: 2px dotted #{$violet};
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drop-zone:after,
#drop-zone2:after,
#drop-zone3:after {
  content: "";
  display: block;
  border: 1px rgb(223, 223, 223) solid;
  width: 100%;
  position: absolute;
  top: 130%;
}

#drop-zone h6,
#drop-zone2 h6,
#drop-zone3 h6 {
  display: inline;
  margin-right: 20px;
}

#drop-zone:hover,
#drop-zone2:hover,
#drop-zone3:hover {
  cursor: move;
  background-color: #f2e4f7;
}

div#content {
  border: 1px solid #fff;
  margin-top: 15px;
  padding: 10px;
}

.button {
  display: flex;
  margin: 100px 0 100px !important;
  gap: 30px !important;
  justify-content: center;
}

.button button {
  border: none;
  background-color: #b582d9;
  padding: 20px 30px 20px 30px;
  border-radius: 40px;
}

.button button:hover {
  background-color: #ac5de4;
}

.button button:nth-child(2):hover {
  cursor: default;
  background-color: rgba(181, 130, 217, 0.9);
}
@media only screen and (max-width: 479px) {
  .range {
    width: 80% !important;
  }
  .ccAuthen__form {
    div {
      width: 100% !important;
    }
  }
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .range {
    width: 80% !important;
  }
  .ccAuthen__form {
    div {
      width: 100% !important;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .range {
    width: 80% !important;
  }

  .ccAuthen__form {
    div {
      width: 100% !important;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
}
@media only screen and (min-width: 1401px) and (max-width: 1899px) {
}
