<div class="app step5">
    <div class="range text-center">
        <p>Nhận +15% cơ hội được phê duyệt bằng cách hoàn thành tất cả các trường</p>
    </div>

    <form action="" class="d-flex justify-content-center align-items-center flex-column">
        <div class="intention">
            <div class="method">
                <label for="">Phương thức nhận / vay tiền*</label>
                <select class="form-select form-select-sm methodItemInput" id="methodItem" aria-label=".form-select-sm">
                    <option value="Tai khoan ngan hang">Tài khoản ngân hàng</option>
                    <option value="Vi momo">Ví momo</option>
                </select>
            </div>

            <div class="momoNum mt-4">
                <label for="">Số điện thoại Momo*</label>
                <input type="text" id="momoNum" name="momoNum" required class="momoNumItemInput">
            </div>

            <div class="bank">
                <div class="bankName mt-3">
                    <label for="">Ngân hàng*</label>
                    <select class="form-select form-select-sm bankNameItemInput" id="bankNameItemInput"
                        aria-label=".form-select-sm">
                        <option value="" selected>Chọn ngân hàng</option>
                    </select>
                </div>
                <div class="bankNum mt-3">
                    <label for="">Số tài khoản*</label>
                    <input type="text" id="bankNum" name="bankNum" required class="bankNumItemInput">
                </div>
            </div>

            <div class="purpose mt-5">
                <label for="">Mục đích khoản vay*</label>
                <select class="form-select form-select-sm purposeItemInput" id="purposeItem"
                    aria-label=".form-select-sm">
                    <option value="" selected>Khác</option>
                    <option value="" selected>Kinh doanh</option>
                    <option value="" selected>Sửa xe</option>
                    <option value="" selected>Chăm sóc sức khỏe</option>
                    <option value="" selected>Du lịch</option>
                    <option value="" selected>Cần gấp</option>
                    <option value="" selected>Sự kiện quan trọng</option>
                </select>
            </div>

        </div>
    </form>
</div>

<!-- button -->
<div class="button d-flex flex-row justify-content-center">
    <a href="/register/step4">
        <button class="fw-bold text-light">Quay lại</button>
    </a>
    <a href="/register/step6">
        <button class="fw-bold text-light">Tiếp theo</button>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    //bankin method toggle
    const method = document.getElementById("methodItem");
    const momoNum = document.querySelector(".momoNum");
    const bank = document.querySelector(".bank");

    //hide momo at first
    momoNum.style.display = "none";
    bank.style.display = "block";

    method.addEventListener("change", function () {
        if (method.value === "Vi momo") {
            momoNum.style.display = "block";
            bank.style.display = "none";
        } else {
            momoNum.style.display = "none";
            bank.style.display = "block";
        }
    });

    //render bank json
    const bankName = document.getElementById("bankNameItemInput");
    const Parameter = {
        url: "https://api.vietqr.io/v2/banks",
        method: "GET",
        responseType: "json",
    }

    const promise = axios(Parameter);
    promise.then(function (result) {
        //var origindata = JSON.parse(JSON.stringify(data));
        renderBank(result.data);
        console.log("result: ", result.data);
    }).catch(err => console.log("there's error: ", err));

    function renderBank(data) {
        for (const x of data.data) {
            bankName.options[bankName.options.length] = new Option(x.shortName, x.id);
        }
    }
</script>