<div class="app step5">
    <div class="range text-center">
        <p>Nhận +15% cơ hội được phê duyệt bằng cách hoàn thành tất cả các trường</p>
    </div>

    <!-- relatives -->
    <form action="" class="d-flex justify-content-center align-items-center flex-column">
        <div class="intention">
            <div class="method">
                <label for="">Phương thức nhận tiền*</label>
                <select class="form-select form-select-sm methodItemInput" id="methodItem" aria-label=".form-select-sm">
                    <option value="" selected>Tài khoản ngân hàng</option>
                    <option value="" selected>Ví momo</option>
                </select>
            </div>

            <div class="purpose mt-5">
                <label for="">Mục đích khoản vay*</label>
                <select class="form-select form-select-sm purposeItemInput" id="purposeItem"
                    aria-label=".form-select-sm">
                    <option value="" selected>Khác</option>
                    <option value="" selected>Kinh doanh</option>
                    <option value="" selected>Sửa xe</option>
                    <option value="" selected>Chăm sóc sức khỏe</option>
                    <option value="" selected>Du lịch</option>
                    <option value="" selected>Cần gấp</option>
                    <option value="" selected>Sự kiện quan trọng</option>
                </select>
            </div>
        </div>
    </form>
</div>

<!-- button -->
<div class="button d-flex flex-row justify-content-center">
    <a href="/register/step4">
        <button class="fw-bold text-light">Quay lại</button>
    </a>
    <a href="/register/step6">
        <button class="fw-bold text-light">Tiếp theo</button>
    </a>
</div>