<nav class="navbar navbar-dark navbar-expand-lg px-0 py-3">
    <div class="container-xl">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" class="h-8 header-logo" alt="...">
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link text-light mx-2" href="/" aria-current="page">Trang chủ</a>
                <a class="nav-item nav-link text-light mx-2" href="/about" aria-current="page">Về chúng tôi</a>
                <a class="nav-item nav-link text-light mx-2" href="/loan-step">Các bước vay</a>
                <a class="nav-item nav-link text-light mx-2" href="/payment">Cách thanh toán</a>
                <a class="nav-item nav-link text-light mx-2" href="/question">Câu hỏi</a>
                <a class="nav-item nav-link text-light mx-2" href="/news">Tin tức</a>
                <a class="nav-item nav-link text-light mx-2" href="/emi">EMI</a>
            </div>
            <!-- Action -->
            <div class="d-flex align-items-lg-center mt-3 mt-lg-0 nav-right">
                <a href="/user/logIn" class="btn btn-sm btn-light w-full w-lg-auto">
                    <span>Vay ngay</span>
                </a>
                <div class="nav-item dropdown">
                    <a class="navbar-user dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/getUser/{{user._id}}">Trang cá nhân</a></li>
                        <li><a class="dropdown-item" href="/loan/{{loan._id}}">Hồ sơ vay</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {{#if user.isAdmin}}
                        <label><a class="dropdown-item" href="/admin">Quản lí</a></label>
                        {{/if}}
                        <li><a class="dropdown-item" href="/user/logout">Đăng xuất</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>