<nav class="navbar navbar-dark navbar-expand-lg px-0 py-3">
    <div class="container-xl">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" class="h-8 header-logo" alt="...">
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link text-light mx-2" href="/about" aria-current="page">Về chúng tôi</a>
                <a class="nav-item nav-link text-light mx-2" href="/loan-step">Các bước vay</a>
                <a class="nav-item nav-link text-light mx-2" href="/payment">Cách thanh toán</a>
                <a class="nav-item nav-link text-light mx-2" href="/question">Câu hỏi</a>
                <a class="nav-item nav-link text-light mx-2" href="news">Tin tức</a>
            </div>
            <!-- Action -->
            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                <a href="/log-in" class="btn btn-sm btn-light w-full w-lg-auto">
                    <span>Vay ngay</span>
                </a>
            </div>
        </div>
    </div>
</nav>