<div class="app container-fluid">
    <div class="logInForm">
        <div class="form">
            <h2 class="text-center">ĐĂNG NHẬP THANH TOÁN VAY THÊM CÙNG NHIỀU ƯU ĐÃI HẤP DẪN</h2>
            <form action="" class="mt-3" method="post">
                <p class="fw-semibold">Số điện thoại</p>
                <input type="text" id="username" name="username" required>
                <p class="fw-semibold mt-3">Mật khẩu *</p>
                <input type="text" id="password" name="pasword" required>
            </form>
        </div>
        <div class="button">
            <a href="/">
                <button class="buttonForm btn1">
                    <p>Hủy bỏ</p>
                </button>
            </a>
            <button class="buttonForm btn2">
                <p>Đăng nhập</p>
            </button>
        </div>
    </div>
</div>